/* #202124 
#4a4a4a
#f7f7f7
#fff
 */


 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}


/* header */
/* header */
/* header */


header{
    background-image: url("../img/titel-bild.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header h1{
    color: white;
    font-family: "Open Sans";
}


/* main */
/* main */
/* main */


main{
    background-color: #f7f7f7;
    width: 80vw;
    margin: 0 auto;
    font-family: "Roboto";
}

main article h2{
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 5vh;
    font-size: 30px;
}

main article:nth-of-type(1) p{
    text-align: center;
    width: 55vw;
    margin: 0 auto;
}

.Hangout{
    padding-top: 5vh;
    padding-bottom: 40vh;
}

.Hangout span{
    color: cornflowerblue;
}

main section:nth-of-type(1){
    display: flex;
    justify-content: center;
}

main section:nth-of-type(1) img{
    width: 35vw;
}

main article:nth-of-type(2) p{
    text-align: center;
    width: 55vw;
    margin: 0 auto;
    padding-bottom: 10vh;
}

main section:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    padding-bottom: 20vh;
}

main section:nth-of-type(2) img{
    width: 35vw;
}


/* footer */
/* footer */
/* footer */

footer .Fixed_Element{
    position: fixed;
    text-align: right;
    width: 100vw;
    bottom: 0;
}

footer h3{
    font-family: "Open Sans";
    width: 45vw;
    text-align: center;
    margin: 40vh auto;
    font-size: 25px;
}

footer section:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
}